* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

/* banner section */
@keyframes color {
  0% {
    background-color: #e6bf77;
  }
  100% {
    background-color: #16b895;
  }
}

.banner {
  display: flex;
  justify-content: center;
  position: relative;
}

.banner-info {
  width: 80%;
  margin-top: 70px;
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background-color: #e6bf77;
  border-radius: 25px;
}
.banner-info:hover {
  animation: color 1s ease-in-out 0.5s infinite alternate;
}

.left-part {
  width: 50%;
  padding: 50px;
  overflow: hidden;
}

.left-part h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 55px;
}

.mini-mini {
  color: white;
  margin-bottom: 30px;
}

.left-part button {
  background-color: rgb(184, 54, 22);
  color: white;
  padding: 15px 25px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}

.right-part {
  width: 50%;
}

#brazil {
  float: right;
  width: 90%;
  padding: 10px;
}

/* Main-Content */

.main {
  display: flex;
  justify-content: center;
}

.content {
  width: 80%;
  display: flex;
}

/* navbar */

.navbar {
  width: 312px;
  height: 312px;
  background-color: #acce8c;
  border-radius: 10px;
  height: 210px;
  margin-right: 20px;
}

.link {
  cursor: auto;
  text-decoration: none;
  display: block;
  text-align: center;
}

.link button {
  width: 200px;
  height: 50px;
  margin: 10px;
  border-radius: 5px;
  border: 0;
  background-color: white;
  cursor: pointer;
  transition: 0.4s;
}

.link button:hover {
  background-color: rgb(221, 107, 107);
  color: black;
}

#active {
  background-color: rgb(221, 107, 107);
  color: black;
}

/* item-section */

.items {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.item {
  margin-left: 20px;
  margin-bottom: 20px;
  border: 1px solid grey;
  border-radius: 10px;
  transition: 0.4s;
}

.item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item img {
  width: 100%;
}

.item button {
  background-color: white;
  padding: 5px 10px;
  border: 0.5px solid grey;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
}

.item-info {
  padding: 10px;
}

.icon {
  display: flex;
  align-items: center;
  margin-top: 5px;
}

.icon img {
  width: 25px;
}

.icon p {
  margin-right: 10px;
}

.flag {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flag img {
  padding: 5px;
  margin-top: 20px;
}

.flag-info {
  text-align: center;
  margin-top: 20px;
}
.flag-info p {
  margin-top: 10px;
}

.view {
  display: flex;
  justify-content: center;
}

.view button {
  background-color: red;
  color: white;
  padding: 15px 25px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
  visibility: hidden;
}

/* Footer */
.footer {
  background-color: #161616;
  color: white;
}

.footer h1 {
  padding-top: 50px;
  text-align: center;
}

.underline {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.underline hr {
  width: 90%;
}

.footer-info {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 30px;
}

.footer-info p {
  padding-left: 50px;
  cursor: pointer;
}

.social {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.social i {
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
}

#youtube {
  color: red;
  transition: 0.4s;
}

#youtube:hover {
  background-color: red;
  color: white;
}

#facebook {
  color: blue;
  transition: 0.4s;
}

#facebook:hover {
  background-color: blue;
  color: white;
}

#instagram {
  color: yellow;
  transition: 0.4s;
}

#instagram:hover {
  background-color: yellow;
  color: black;
}

/* responsive tab view */

@media only screen and (min-width: 689px) and (max-width: 992px) {
  .left-part h1 {
    font-size: 25px;
  }
  .mini-mini {
    height: 50px;
    overflow: hidden;
  }
  .mini-mini p {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .content {
    display: block;
  }
  .navbar {
    background-color: white;
    display: flex;
    justify-content: center;
    height: auto;
    width: 100%;
    margin-bottom: 50px;
  }
  .link button {
    margin: o;
  }
  .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .view button {
    visibility: visible;
    margin-bottom: 50px;
  }
}

/* responsive mobile view */

@media only screen and (max-width: 688px) {
  .banner-info {
    display: block;
  }
  .left-part {
    width: 100%;
    padding: 20px 15px;
  }
  .left-part h1 {
    font-size: 25px;
    text-align: center;
  }
  .left-part p {
    height: 25px;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 20px;
  }
  .left-part button {
    text-align: center;
  }
  .right-part {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .right-part img {
    width: 75%;
    float: none;
  }
  .content {
    display: block;
  }
  .navbar {
    width: 100%;
    background-color: white;
  }
  .items {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-info {
    display: block;
  }
  .footer-info p {
    text-align: center;
    margin-top: 5px;
    padding-left: 0;
  }
}
